

<!-- Home -->

<section>
	<div class="wrapper">
		<div class="intro-bg">
			<div class="container">
				<div class="row">
					<div class="content">
						<div class="col-md-6">
							<div class="page-header">
								<h2> Welcome To The Largest Growing Exclusive Bead Shop</h2>
							</div>
							<div class="page-header-subtitle">
								<p> We sell the best collections of beads and art from all around the globe,</p>
								<p> So What Are You Waiting For.....? </p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8 col-md-offset-2 content">
						<div class="button-wrapper text-center">
							<%= link_to  categories_path  do %>
							<button class="btn-me btn-purple">Start Shopping <i class="fa fa-shopping-cart"></i></button>
							<% end %>
							<a href="#featured" class="btn-me btn-in"> View Our Featured Products</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="clearfix">
</div>




<!-- Portfolio -->
<section class="features">
	<div class="container">
		<div class="col-lg-12 ">
			<div class="col-md-8 col-md-offset-2">
				<div class="page-header text-center">
					<h2 id="featured"> Featured Products </h2>
				</div>
				<div class="page-header-subtitle text-center">
					<p> Visit Our Latest Products </p>
				</div>
			</div>
			<div class="page-break">
			</div>
			<div class="page-break">
			</div>

			<%= render "shared/product_list", :products => @products %>
		</div>
	</div>
</div>
</section>




<div class="page-break"></div><div class="page-break"></div><div class="page-break"></div>
    <section class="blog-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 ">
            <div class="boxing col-md-12 margins">
            <div class="page-header text-center">
              <h2> Latest News Trends </h2>
            </div>
            <div class="page-header-subtitle text-center">
              <p> Veiw The Latest Trends Inspired By Celebrites </p>
            </div>
          </div>
            <div class="page-break"></div>

              <p class="text-center">
							<%= image_tag "getinspired3.jpg", class: "img-responsive" %>
            </p>

          </div>
          <div class="page-break">
          </div>

          <div class="col-md-6 boxing" >
              <div class="text-header">
                <h2>Fashion now </h2>
                <hr / >
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
                </p>
                <p><a href="#" class="btn btn-default"> Continue Reading </a></p>
              </div>
            </div>
            <div class="col-md-6 boxing" >
                <div class="text-header">
                  <h2>Fashion now </h2>
                  <hr / >
                  <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
                  </p>
                  <p><a href="#" class="btn btn-default"> Continue Reading </a></p>
                </div>
              </div>
          </div>
        </div>

      </section>
