
<section>
<section>
	<div class="page-top-wrapper">
		<div class="page-top">
			<div class="container">
				<div class="row">
					<div class="content1">
						<div class="col-md-6">
							<div class="page-header">
								<h3> Shop For All Your Favourite Beads </h3>
							</div>
							<div class="page-header-subtitle">
								<p> Pick From Categories </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="container">
	<div class="col-md-12">
		<ul class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li>Categories</li>
		</ul>
	</div>
</div>

<div class="page-break"></div>
<div class="container">

	<div class="col-md-3">
		<div class="page-break"></div><div class="page-break"></div>
		<div class="panel panel-default sidebar-menu">
			<div class="panel-heading">
				<h3 class="panel-title">Categories</h3>
			</div>
			<div class="panel-body">
				<ul class="nav nav-pills nav-stacked category-menu">
					<li><a href="">Beads <span class="badge pull-right">45</span></a></li>

					<ul>
						<% for category in @product_categories %>
						<li><%= link_to category.name, products_path(category.permalink)%></li>
						<% end %>
					</ul>

				</div>
			</div>
		</div>




        <!--- sidebar end -->
        <div class="col-md-9">
					    <% for category in @product_categories %>
          <div class="col-md-3  col-sm-offset-1 box">
  					<%= image_tag category.image.path, class: "img-responsive" %>
					<div class="box-title">
						<h3 class="text-center"><%= link_to category.name, products_path(category.permalink)%></h3>
						<p class="button-wrapper">
							<%= link_to "Veiw details", products_path(category.permalink), class: "btn-me btn-purple" %>
						</p>
            </div>
					</div>
		   	<% end %>
	</div>
</div>
